{% load static i18n %}
<div class="row">
    <div class="col-md-12 h2-first">
      <h2 style="margin-top: 0px;">TOP PLANS</h2>
    </div>
  </div>
  
<div class="row justify-content-between top-plans">
{% for plan in top_plans %}
<div class="col-md-3 mb-4">
    <a href="{{ plan.affiliate_link }}" class="no-underline">
    <div class="card plan-card">
    <img src="{{ plan.plan_pictures.first.image.url }}" alt="{{ plan.name }}">
    <div class="card-body p-0 m-0 top-plans">
        <div class="card-title">
            <span>{{ plan.name }}</span>
            </div>
        <table class="table mb-0">
        <tbody>
            <tr>
            <td class="py-2">
                {% if plan.min_bedrooms == plan.max_bedrooms %}
                <img src="{% static 'main_designs/icons/bed.png' %}" alt="Bedrooms icon" height="20" width="20">
                <strong>{{ plan.min_bedrooms }}</strong> bed
                {% else %}
                <img src="{% static 'main_designs/icons/bed.png' %}" alt="Bedrooms icon" height="20" width="20">
                <strong>{{ plan.min_bedrooms }}-{{ plan.max_bedrooms }}</strong> bed
                {% endif %}
            </td>
            <td class="py-2">
                {% if plan.min_bathrooms == plan.max_bathrooms %}
                <img src="{% static 'main_designs/icons/bath.png' %}" alt="Bathrooms icon" height="20" width="20">
                <strong>{{ plan.min_bathrooms }}</strong> bath
                {% else %}
                <img src="{% static 'main_designs/icons/bath.png' %}" alt="Bathrooms icon" height="20" width="20">
                <strong>{{ plan.min_bathrooms }}-{{ plan.max_bathrooms }}</strong> bath
                {% endif %}
            </td>
            </tr>
            <tr>
            <td class="py-2"><img src="{% static 'main_designs/icons/story.png' %}" alt="Floors icon" height="20" width="20"> <strong>{{ plan.floors }}</strong> story</td>
            <td class="py-2"><img src="{% static 'main_designs/icons/size.png' %}" alt="Heated sq. feet icon" height="20" width="20"> <strong>{{ plan.formatted_heated_sq_feet }}</strong> sq. feet</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
</a>
</div>
{% endfor %}
</div>