<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Plans{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main_designs/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main_designs/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
    {% block head %}{% endblock %}
    <style>{% block style %}{% endblock style %}</style>
</head>
<body>
    {% include 'main_designs/includes/cookies_popup.html'%}
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'main_designs/images/logo.png' %}" alt="Logo" class="logo" width="200" height="40">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'plan_list' %}">Plans</a></li>
                <li><a href="{% url 'contact' %}">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer bg-dark text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="footer-text mb-0">This website may contain affiliate links, which means we may earn a commission if you click on a link and make a purchase. This comes at no additional cost to you. Our goal is to provide you with accurate and helpful information, and we only recommend products or services that we believe will benefit you. We appreciate your support in purchasing through these links, which helps us maintain and improve our website. Thank you for your support. <a href="{% url 'privacy_policy' %}">Privacy Policy</a></p>
            </div>
          </div>
          </div>
          <hr>
          <div class="col-md-12">
            <p class="footer-text">All rights reserved &copy; www.barndohomeplans.com</p>
          </div>
    </footer> 
      
</body>
</html>
