{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="image-container">
  <img src="{% static 'main_designs/images/welcome.jpeg' %}" alt="Welcome">
  <div class="color-overlay"></div>
  <div class="overlay-text">FIND YOUR FUTURE HOUSE</div>
</div>

{% include 'main_designs/includes/top_plans.html'%}

{% include 'main_designs/includes/plans_under_2000.html'%}
  
{% include 'main_designs/includes/plans_betw_2000_3000.html'%}
 
{% include 'main_designs/includes/plans_above_3000.html'%}

{% include 'main_designs/includes/inc_plan_list.html'%}
{% endblock %}

{% block style%}
.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* This is to maintain a 16:9 aspect ratio for the image */
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08050197;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  text-align: center;
  z-index: 1;
  font-family: 'Lato', sans-serif;
}
@media (max-width: 768px) {
  .overlay-text {
    font-size: 2rem;
  }
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
.table td {
  padding: 10px;
  text-align: center;
}

.table td:first-child {
  border-right: 1px solid #dee2e6;
}

.table tr:last-child td {
  border-bottom: none;
}
.table tr:first-child td {
  border-bottom: 1px solid #3F4E4F;
}
.table tr:first-child td {
  border-top: 1px solid #3F4E4F;
}

.table tr td:not(:last-child) {
  border-right: 1px solid #3F4E4F;
}
.highlighted {
  background-color: #ffffcc;
  padding: 5px;
  border-radius: 5px;
}
.card-title span {
  display: block;
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
}
.plan-card {
  transition: transform 0.3s;
  background-color:#dcd7c954;
  border: none;
  box-shadow: 3px 3px 8px 2px rgb(0 0 0 / 15%);
}

.plan-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.no-underline {
  text-decoration: none !important;
}
#plan-slider {
  overflow: hidden;
}

#plan-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#plan-container .col-md-3 {
  flex-basis: calc(25% - 1rem);
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  #plan-container .col-md-3 {
    flex-basis: calc(33.33% - 1rem);
  }
}

@media (max-width: 767.98px) {
  #plan-container .col-md-3 {
    flex-basis: calc(50% - 1rem);
  }
}

@media (max-width: 575.98px) {
  #plan-container .col-md-3 {
    flex-basis: 100%;
  }
}
.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  top: 40%;
  transform: translateY(-40%);
  background-color: blue;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  opacity: 0.8;
}

.carousel-control-prev {
  background-color:#A27B5C;
}

.carousel-control-next {
  background-color:#A27B5C;
}

@media only screen and (max-width: 768px) {
  /* hide carousel controls on phones */
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
h2 {
  background-color:#dd7827;
  padding:20px;
  text-align:center;
  margin-bottom:0;
  color: #FEFCF3;
  margin-left:-32px;
  margin-right:-32px;
}
.home-btn-more {
  margin-bottom:1rem;
  margin-top:2rem;
  border-color:#3F4E4F;
  padding:10px 60px 10px 60px;
  font-size:20px;
  background-color:#323d3e;
}
.home-btn-more:hover {
  background-color:#3F4E4F;
  border-color:#323d3e;
}
.row{
margin-left:20px;
margin-right:20px;
}
#under-2000-carousel.carousel.slide{
  background-color: #F9F5EB;
  padding-top:3rem;
  padding-bottom:2rem;
}
.row.justify-content-between.top-plans{
  padding-top:3rem;
  padding-bottom:2rem;
  background-color: #FBF8F1;
}
#between-2000-3000-carousel.carousel.slide{
  padding-top:3rem;
  padding-bottom:2rem;
  background-color: #F9F5EB;
}
#above-3000-carousel.carousel.slide{
    padding-top:3rem;
    padding-bottom:2rem;
    background-color: #F9F5EB;
}
#plan-list-carousel{
  padding-top:3rem;
  padding-bottom:2rem;
}

{% endblock style%}


