{% extends 'base.html' %}
{% load static i18n %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" crossorigin="anonymous" />
{% endblock %}
{% block content %}
<div class="plan-details-name">
<h1>{{ plan.name }}</h1>
</div>
<div class="row mt-3">
    <div class="col-md-8">
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                {% for picture in plan.plan_pictures.all %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for picture in plan.plan_pictures.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ picture.image.url }}" class="d-block w-100" alt="{{ plan.name }}" style="max-height: 550px;">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
<!-- Main details -->
<div class="row mt-3">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Main Details</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="display: inline-block;">
              <img src="{% static 'main_designs/icons/bed.png' %}" alt="Bedrooms icon" height="20" width="20">
              {% if plan.min_bedrooms == plan.max_bedrooms %}
              <strong>Bedrooms: </strong>{{ plan.min_bedrooms }}
            {% else %}
              <strong>Bedrooms: </strong>{{ plan.min_bedrooms }}-{{ plan.max_bedrooms }}
            {% endif %}
            </li>
            <li class="list-group-item" style="display: inline-block;">
              <img src="{% static 'main_designs/icons/bath.png' %}" alt="Bathrooms icon" height="20" width="20">
              {% if plan.min_bathrooms == plan.max_bathrooms %}
              <strong> Bathrooms: </strong>{{ plan.min_bathrooms }}
            {% else %}
              <strong>Bathrooms: </strong>{{ plan.min_bathrooms }}-{{ plan.max_bathrooms }}
            {% endif %}
            </li>
            <li class="list-group-item" style="display: inline-block;">
              <img src="{% static 'main_designs/icons/story.png' %}" alt="Floors icon" height="20" width="20">
              <strong>Floors:</strong> {{ plan.floors }}
            </li>
            <li class="list-group-item" style="display: inline-block;">
              <img src="{% static 'main_designs/icons/size.png' %}" alt="Heated sq. feet icon" height="20" width="20">
              <strong>Heated sq. feet:</strong> {{ plan.formatted_heated_sq_feet }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Other parameters -->
<div class="col-md-6">
  <ul class="list-inline">
    {% if plan.walk_in_pantry %}
      <li class="list-inline-item"><i class="bi bi-check"></i> Walk-in pantry</li>
    {% endif %}
    {% if plan.home_office %}
      <li class="list-inline-item"><i class="bi bi-check"></i> Home office</li>
    {% endif %}
    {% if plan.mudroom %}
      <li class="list-inline-item"><i class="bi bi-check"></i> Mudroom</li>
    {% endif %}
    {% if plan.bonus_room %}
      <li class="list-inline-item"><i class="bi bi-check"></i> Bonus room</li>
    {% endif %}
    {% if plan.wrap_around_porch %}
      <li class="list-inline-item"><i class="bi bi-check"></i> Wrap-around porch</li>
    {% endif %}
  </ul>
</div>

          <!-- Order now button with affiliate link -->
          <div class="row mt-3">
            <div class="col-md-6">
                <a href="{{ plan.affiliate_link }}" class="btn btn-primary btn-lg order-now-btn">ORDER NOW</a>
            </div>
        </div>
    </div>
</div>
<!-- CUSTOMIZE button with affiliate link -->
<div class="row mt-4">
  <div class="col-md-8">
      <a href="{{ plan.affiliate_link }}" class="btn btn-primary btn-lg customize-plan-btn">CUSTOMIZE THIS PLAN</a>
  </div>
</div>

<!-- Gallery -->
<div class="col-md-10">
    <h1>Small Gallery</h1>
    <div class="gallery">
        {% for floor_picture in floor_pictures %}
        <div class="gallery-item">
            <a href="{{ floor_picture.image.url }}" data-caption="{{ floor_picture.plan.name }} floor {{ floor_picture.floor_number }}">
                <img src="{{ floor_picture.image.url }}" alt="{{ floor_picture.plan.name }} floor {{ floor_picture.floor_number }}">
            </a>
        </div>
        {% endfor %}
        {% for plan_picture in plan_pictures %}
        <div class="gallery-item">
            <a href="{{ plan_picture.image.url }}" data-caption="{{ plan_picture.plan.name }} - Finished Design">
                <img src="{{ plan_picture.image.url }}" alt="{{ plan_picture.plan.name }} - Finished Design">
            </a>
        </div>
        {% endfor %}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" crossorigin="anonymous"></script>
<script>
    baguetteBox.run('.gallery');
</script>
</div>

                	<!-- Floor pictures -->
	{% if plan.floors > 0 %}
    {% for floor_picture in floor_pictures %}
        {% if floor_picture.floor_number == plan.floors %}
            <div class="row mt-3">
                <div class="col-md-12">
                    <h2>{{ "Floor " }}{{ floor_picture.floor_number }}</h2>
                    <img src="{{ floor_picture.image.url }}" class="img-fluid">
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="row mt-3">
        <div class="col-md-12">
            <h2>Additional pictures</h2>
        </div>
    </div>
{% endif %}

</div>
{% endblock content %}
{% block style%}

/* Style for the carousel */
@media screen and (max-width: 767px) {
  #carouselExampleIndicators .carousel-item img {
    max-height: 300px;
  }
}


.carousel-item img {
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7%;
}

/* Style for the main details card */

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-top: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item img {
  margin-right: 0.5rem;
}

/* Style for the other parameters list */
.list-group {
  margin-top: 1rem;
}

.list-group-item i {
  color: #28a745;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
ul.list-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.list-inline li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 500;
    margin-top: 1rem;
  }
  
  ul.list-inline li i {
    margin-right: 10px;
    color: #28a745;
  }
  body {
    background-color: #f5f5f5;
    font-family: 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Style for the gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 0.1fr));
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item:hover .overlay {
    opacity: 1;
}
.customize-plan-btn {
  width:100%;
}
.order-now-btn{
  width:100%;
}
.plan-details-name{
  text-align:center;
  margin-bottom:2rem;
}
{% endblock style%}







