{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

<div class="container-fluid">
  <h2 class="my-4">Find Your Dream Home</h2>
  <form method="get">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="min_bedrooms">Min. Bedrooms</label>
        <select name="min_bedrooms" id="min_bedrooms" class="form-control">
          <option value="">Any</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="max_bedrooms">Max. Bedrooms:</label>
        <select name="max_bedrooms" id="max_bedrooms" class="form-control">
          <option value="">Any</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5+</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="min_bathrooms">Min. Bathrooms:</label>
        <select name="min_bathrooms" id="min_bathrooms" class="form-control">
          <option value="">Any</option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
          <option value="5.5">5.5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="max_bathrooms">Max. Bathrooms:</label>
        <select name="max_bathrooms" id="max_bathrooms" class="form-control">
          <option value="">Any</option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
          <option value="5.5">5.5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="floors">Floors:</label>
        <select name="floors" id="floors" class="form-control">
          <option value="">Any</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="min_sq_feet">Min. Sq. Feet:</label>
        <input type="number" name="min_sq_feet" id="min_sq_feet" class="form-control" min="0" step="100" placeholder="Enter min square feet">
    </div>
    <div class="form-group col-md-3">
        <label for="max_sq_feet">Max. Sq. Feet:</label>
        <input type="number" name="max_sq_feet" id="max_sq_feet" class="form-control" min="0" step="100" placeholder="Enter max square feet">
    </div>
    <div class="col-md-3 mb-3">
      <label for="name">Filter by name:</label>
      <input type="text" name="name" id="name" class="form-control" value="{{ request.GET.name }}">
  </div>    

  <div class="form-group col-md-12">
    <label class="form-label">Features:</label>
    <div class="row">
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="basement" {% if basement %}checked{% endif %} id="basement">
          <label class="form-check-label" for="basement">Basement</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="loft" {% if loft %}checked{% endif %} id="loft">
          <label class="form-check-label" for="loft">Loft</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="walk_in_pantry" {% if walk_in_pantry %}checked{% endif %} id="walk_in_pantry">
          <label class="form-check-label" for="walk_in_pantry">Walk-in pantry</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="home_office" {% if home_office %}checked{% endif %} id="home_office">
          <label class="form-check-label" for="home_office">Home office</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="mudroom" {% if mudroom %}checked{% endif %} id="mudroom">
          <label class="form-check-label" for="mudroom">Mudroom</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="bonus_room" {% if bonus_room %}checked{% endif %} id="bonus_room">
          <label class="form-check-label" for="bonus_room">Bonus Room</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="wrap_around_porch" {% if wrap_around_porch %}checked{% endif %} id="wrap_around_porch">
          <label class="form-check-label" for="wrap_around_porch">Wrap around porch</label>
        </div>
      </div>
        <!-- Filter form for buttons-->
        <div class="form-group col-md-3 filter-reset-buttons">
          <div class="form-group d-flex align-items-end">
            <form method="get" class="form-inline mb-3">
              <div class="form-group mr-2">
                <button type="submit" class="btn btn-primary" style="text-align: center;">Filter</button>
              </div>
            </form>
            <div class="form-group">
              <a href="{% url 'plan_list' %}" class="btn btn-secondary">Reset</a>
            </div>
          </div>
        </div>

<!-- Plan list -->
<div class="row">
  {% for plan in plans %}
  <div class="col-md-4 mb-4">
    <a href="{% url 'plan_detail' plan.id %}" class="no-underline">
    <div class="card plan-card">
      {% with plan.plan_pictures.first as first_picture %}
      {% if first_picture %}
      <img src="{{ first_picture.image.url }}" alt="{{ plan.name }}">
      {% endif %}
      {% endwith %}
      <div class="card-body p-0 m-0">
        
        <table class="table mb-0">
          <tbody>
            <tr>
              <td class="py-2">
                {% if plan.min_bedrooms == plan.max_bedrooms %}
                <img src="{% static 'main_designs/icons/bed.png' %}" alt="Bedrooms icon" height="20" width="20">
                  <strong>{{ plan.min_bedrooms }}</strong> bed
                {% else %}
                <img src="{% static 'main_designs/icons/bed.png' %}" alt="Bedrooms icon" height="20" width="20">
                  <strong>{{ plan.min_bedrooms }}-{{ plan.max_bedrooms }}</strong> bed
                {% endif %}
              </td>
              <td class="py-2">
                {% if plan.min_bathrooms == plan.max_bathrooms %}
                <img src="{% static 'main_designs/icons/bath.png' %}" alt="Bathrooms icon" height="20" width="20">
                  <strong>{{ plan.min_bathrooms }}</strong> bath
                {% else %}
                <img src="{% static 'main_designs/icons/bath.png' %}" alt="Bathrooms icon" height="20" width="20">
                  <strong>{{ plan.min_bathrooms }}-{{ plan.max_bathrooms }}</strong> bath
                {% endif %}
              </td>
              
            </tr>
            <tr>
              <td class="py-2"><img src="{% static 'main_designs/icons/story.png' %}" alt="Floors icon" height="20" width="20"> <strong>{{ plan.floors }}</strong> story</td>
              <td class="py-2"><img src="{% static 'main_designs/icons/size.png' %}" alt="Heated sq. feet icon" height="20" width="20"> <strong>{{ plan.formatted_heated_sq_feet }}</strong> sq. feet</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </a>
  </div>
  {% empty %}
  <p>No plans found</p>
  {% endfor %}
</form>
{% endblock %}

{% block style%}
.row {
  padding-bottom:50px;
}
.filter-reset-buttons {
    display: flex;
    align-items: flex-end;
    margin-top:2rem;
}
.btn-primary{
  padding-right:5rem;
  padding-left:5rem;
}
.btn-secondary {
  margin-left:20px;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  padding: 10px;
  text-align: center;
}

.table td:first-child {
  border-right: 1px solid #dee2e6;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}
.highlighted {
  background-color: #ffffcc;
  padding: 5px;
  border-radius: 5px;
}
.card-title {
  border-radius: 0;
}
.plan-card img {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card-title {
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plan-card {
  transition: transform 0.3s;
}

.plan-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.no-underline {
  text-decoration: none !important;
}
.filter-container {
  display: none; /* Hide filter container by default */
}

@media (max-width: 767.98px) {
  /* Show filter container when button is clicked */
  .filter-container.show {
    display: block;
  }
}

{% endblock style%}











  





